@charset "UTF-8";

/* Importando a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Definindo as variáveis de cor */
:root {
    --cor1: #0E0359;
    --cor2:  #371075;
    --cor3: #551A7D;
    --cor4: #7B2D8C;
    --cor5: #99469B;
    --cor6: white;
    --cor7: black;
}

/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBQVEhcUFBQYFxcXGBkaGRcaGBgXGBoZFxkYGRgYGRoaISwjGiApIBgXJDYkKS0vMzMzGSI4PjgwPSwyMy8BCwsLDw4PHhISHjIpIikyNDIyLzIyMjIvMjI0MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjMyMjIyMjIyMjIyMv/AABEIALcBEwMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAAAAQIDBAUGB//EAEAQAAIBAwIEAwYDBQgABwEAAAECEQADEgQhBSIxURNBYQYycYGRoSNCsQcUUrLBFTNicoKS0eFDU6LC0uLwJP/EABgBAAMBAQAAAAAAAAAAAAAAAAACAwEE/8QAJxEAAgICAgEDBAMBAAAAAAAAAAECESExA0ESUWGBInGRoRMysUL/2gAMAwEAAhEDEQA/APNNPwy7dAOYIKEklmcgLEKVUFp5hAAPWdhNZqitXQ8ce0iKiLyEmS1w5AzykBgFHnyxJAmaz3YliT1JJO0bnfpVkvbAkngv8HbmZe4B+h/7roePWEfTrczGb2U/DxaSbYNqcox6256zXM8MaLg9ZH2n9RXXHTtc09vFGbw3uo2KkwpCXFmOglrlWSuJzSxKzirVm14JbIG5vyklcQO23OSPUR2M1es4G61twnKqoGYrC4iH95l6sSZnIRsO1DT8PZi8AYoYZyYVd4En1PQedW9Jo0YDOZY3AD1gImQaDBJLdAT5R8OGSWcnS2hv7yDbtk+G2BKlMVDup2EELJ2Y7z13607Wi2r3bJaAAmLYn37ahYIHSQW371Lb4SuLN4gG4wbkWZQOpKkzvMQs7g9qt2uHBHS5izmC3h5ZHNWtk82IDcrs0AH3eppG4p7MtEF/is/iKjGAchzhVyjFXJdgy7GFhR1EQaw7gZmLQBJJgCBvvsPIV0tjTW1TU25xc27gVQcg3gOLuREchxtN5mZOwHXBiq8UUlg1Y0VxaNKLJqxFEiqBZCLHrThpx3qTxB3FJ4q96AyILA9acLK0njD1o8cdqAHC2O1OCDtURv8ApSeMaDCcCliqxumk8Q96ALcUVUyPeiaDS0SKMx3qrS0AWPEFIboqCiKAJvFFJ4tR0UAP8Q0G4aZS1gC5mkyNFFAwTTTTqIoAiiipIooA1uD6zw7N0eL4bQGSMg5Ye6VxU7+pZYHSZ2q8V1PiX7lySwZpDGZIGwJneSBTuEaa3cuBLhYKQdwVWD5SWBEenUmBtNW+NcKFq3adQwyWHyMy4ALRsI89hlEDeSQKNK7J5Zl2HxdT2IP0Ndpo2Js3kBIINp4BO4Ba2RA6/wB6v0riQK9P9mL7PpEClpDMCq3ltbFUcE5e9uX+lEp+EW6vRkONck0rreTzbXu1rUPiWQzPKSp3Enp8TQ73cUuwYUmGAPKS2UttAkuI8jWz7YXAmuF5RbuZKGIJFxC5UF91O/Mx6HqKz/7TRwwKvkSxUSHk3EwYE7GNkIgGCKhNu7SHqsEdi3qMlQ5oGQScsfw5+IBG+wPePOmXNNenFmGK5QWY4gK4tkeeO5G22xHenvxKdzaMNmLksYZmCZYmOUyitvO9I3E5S70DXLiuFjIKQcnaT3IXbzik+u7oMlZ1u2WUnlLK2JGLBlYFGgiQQQWHzqrke5qwlt7r8z8zdGfI5HyAIB/4qNNO7LkEJWQJA8z0H6VVP12N4uiKiKtDRPzTiMYk5rG8wAQSCdj9DVgcLdFS5fRktN0blyMqSsL1gwN4rU0waa2jNilrVHClKK63C2RHKE3guE2JbrJ9Ohp1zhseIi5OcFuKRi2wbFlJUHf3vdMcvnTULaMilrW1SpaJNtAQ2dsh+fpiyuOxKsKg1Xg+GmIIuGMgpJQDznLfLp02rG6oLKEUsURSimASKUUtLFKAgpRRS0AFFLS0AJRFLRQAkUsUtFACRRFLRQMJRS0VgCURS0UAJFFLRQBLorlxbim0zLcmFKkq0ttsR061e1nD9QtstcaVtsVCm4HInEsyqCeSWXmG0ms1dj06HpW9rvaLO3dtpbZVuhAS1zL3YJYqqqpY4gTGwEDvVH7Ikq7MEV2/sRbRhm0lrUMozVFMOAciwO3Mvbqa4kV03sfeuB2S1jk20MFKkHcyH2/IDv2pmm4tJ06Fi4qSbVq9DvbvhyW0tOgAEsph/EE7EkN57G385rI0+msqy+GyXGglSzspZxBUFOXEbNG53CkmDB632109y5p2cvbZECEImPIzKpue6oEEowme1eZ1zuLklm/cvJK2kml6M39XbX8VgbMpezSWt5MDkzKRMuByCOkyO9Z/EmtkoLZ5QhPqCzu2JPmQConptS8M4ebpaDAWJgFnMzARBux28unU7VofuiJbQ4OzK9tmICqxFwOAq7HoyAQQeYHvU7UXV2xdGc2rH4bBmyTCEPuDADcGfOAYjzO9SJrkQOqWzzZQTiGAYDYmCYUiRBHrVhuGKrXVcENb8RuaVzTFgjCY6OF+OfpVHQkSwOElYUuAVByWZkEDly39aZU0VjNtlu9r3RkcoAcNpZjkCZklSJEj3T6zNV7mtvvbCNcuNbWAEyY21jZeX3R6VJYuoBblyDbuH3cgSjFd0YDaCGO5HXap72vtnMLkQQCIBAD4BS0lpiVU82U+m8i+nCQ7+rLZSL3Vi2c122SCDBJOwiepNXUsu8k6glzbyMu3LiUJW51MAO/zU1PpPaO5ZYvYhWdYcsBzGSfdWFMSdyCTJrI/eGzZ9pfOdoHOCGgDp7xqkW2sojJJPDLycFuY5GQMsTCsx2fAkGMTzeUz51YHCAq3AzSYOBx2GKrcLHfY45CN+h3qvZ1F64HZSvJDkwuSwJlCRInCTHU/GrD2r2TrcuOpZGwxACXBbDNjykYiOgj81OIGq4bbtFpyeEJAyjcMFJLBRIhgYFQae9auN+KiooTqsq0j+EDYsZ89qYmhuOEJcYkbSxOCgMQSPIQjRHalv6ECyLqtKzjtJlgzSd/dEY9e9ZJWgKTxkcZxkxPWPKY86bFamk0tu5aBJKsGYSIggANzesZR8K0G4Talx5YyCS3rBBMAgwN4PXaigs50rTrdpmnEExuY8q6J30+2WG6Qu4gKCSJJmCQftWTqtYTiEaBgAQBG/n8awClFFXdXqzdCIE93aerMem57elVhZbLCOaYj1rIttZN6I6Ksfuj9MTMxHrU1vhtwqTEGYg1oFGKKt3tA6KWaNjFWrWgQhWJMEbj1oAyoorbbSIg23y2M1WtNbJi4sYjyrJOlYWZwU0uB7GtqxetA7bCPOi9qbbqwG1R/kd6MsyFsMfKprWguN0WY60qaqEiNxT7fEXUHHzp7kWajRH+7jvRUOZpKcQk1lrC46/wuw+hrp+EjSolkm5ZydLiXA3UZMrHMlSBsGUEbxAEEyM72z03h668vdsh8G3qlotAHR7rsVt22QNiuTEMwDFQSBKgg79xVI5iiOpMpuBJjpJj4TtWv7Manw9Vbc9AQSO+LBiPoGrP12nFu49sGQrEA9x5H6RS6FouIf8QH12/rVEI7R6LxbV27mlZAzuLoa2spbRVKtbYyFO+xEfGvJCPI9a920wZkSAwtuiSAES0BcRRck+f5voK8S4nZwvOvZj99x+tc3G400k1T7OzkUrTk07XRVipxqrkY+I8TIGTRkSDMT1kAz3FQ0tM0mSNOxw5i48YhQIdwzHMJko3ABKk5ACYO89N6S9oVUbvAW81tziZWJxPvQwhSdgPPrTBxO8IyfMQdnAeQeUhidyNuhP5V7ClGsvXC6DmNwywW2ksfiFkfXaT3NSqaeQItfpDbYIfexBYdiS2w9IAPzq6ihGUDJbdxShfI43MkIDEdNi3ypo4dccWmdp8Q4DJ1EAKptjIkxIbYEdB61VGhbAvtADE+hRlUqfXmU/Aii01TY0ZUXbC20tgv4ZuIw25D+YqQYkvsQ0wRsOu4p51dsC4uWSmGAgwz4rtsoVhKj3lHUx1rNsWQUZyTylQAADLNkRM9By/etC1pRce2xTle3JxBUZrKtiLa7nkJxA85ocUnbZZSbVJIZxviaXymGnt2QgIhAgymPewRRtHbzpP7RJNrBOdWUkzlmwRbYERtIUSJ86snTWkgkL+HcKNkRz7ss+8RA5WjEDbrvUxv6JLd1WtM94z4boYRSVBX3bgWVaeiEbU0Zp4QkuNxVsqtdupbJAS2EZeXcuqmSgORMpzN133pqW9QzFfDYSJKBRbBRsRsNoBxHTtUFjUCXF0swdcSRDMCCGU8x33WPnWjZ4uhdMlxWcnJJIzyVwVxEgAr03941UiV3sLy5KLKMMgVZnJJAgNLGDi09POjTcGuXArKyFDtkWjH0IO5Ox2E1FqdUbkIqiM9iJBb8iZSYECBTNTp7oGLhiE2HUqsweo2HUVOd9OgLWp4RhZNwFpVoIYASJjIDqN+9Fq3ba2jMN1id4kBoIj4GZqidQ+OBdseuMmPpUVKoSrL7H45eN2rNm3dtBGYKodXkDbyIiJ67VI/E9OLdxTZyusxK3RAxB6eoisKitUEnY8uRyVUX9JrQqnLItkCN9qk/tdo2UT5GazKdTki3d4i7T0APlUB1DnzqOigBz3GPUmmGlooAbFOoiigAptOpIrDRIop2B7UUWYdn+0yz/8A0Wro6XbSn6f9VzOj115Ee1bdsbvvoBOUdxE+Vdb7Vfi8L0V/qQoU/SP6GuZ4BrLdnULcuKzKoOyxluIkTt0JHzqkVSa9LJy/sn6jOKNqHZLmoym4gKMyhckHQrAAjf71SWtPiGqsNZtW7QuhkZy2eBBy8wRuTCoPICD3rNAp4iSO54a2aXF/jtFh/oK3R9kauL9prUX8v4kB+YkH9BXZeyCNcNoqpIXlfsqNNtiT2xJrD9teGvbFpnAElgIZWBn1UkSMTt61s2tX7mcSaadYyjk6BRS1I6CRvcU9iy/ow/marOi17WwygKVeMgQdwOgyUhgPgd4EyNqrr7rDti3T/Sf5hUmk8PMeKHKeYSMum3Xb/qsmk1kxF4a+VBFofhsjsc2iLY8NNtiPeQTO5HlNQXtW58RVVFW4RkqSyzIYYks0SfX08q0Ld6yEuKr2lyVx/dspM21FsKWBYQ6EnffIE+iHiCB7bs5uSiC6ArA5WzKuC8ZHYfVu9c6ecL/TTK03iB8bZZWMgwcT5yCSRHQ9e1S3LA8McxkXMXBIKAkSrLjO0Bt9+lMtF1IulCVJZZIbBsgQyZd4J9fOlXUxkEQBWxIBJJUqDDA7b7n036VV3eB4tVksnhDDIE8wUMqhTLA5bw+LASsdCdxtVzR8Et3HA/eUtpiT4jm2ASMZAl1AMMDDEGs5+JXC2UgGCNlUQCSTG2xlmM9dzUD3GYAMxIUQoJJCjsAelYlLtjScKwjY0pteIbTradbYYLcmA8MozJVoPKCep+dWbN/TIJASQ8+RIDEEY8pLBQSIyAEd65ulFVIUbT8QtsjZFszbI2UQXYLJO4jmQN/qNUdJxB7YfAwXEFtyQPOB0371UinUsoqSpmjYp1EU5kIiREiR6jvQA2ilC1fHCbmTCAIEgkwCPSgDPorVPCyikPGRUlSrSARvBpmn0lu4YVisLJLDaayUlFWwszaK37HDrPTMXJHvTtPwqfCwjc2IBWY/r+tRfOukzLOes6dnbFRJNaWn4FcJGYKr5ntVgcYRHDKoJ+ECr+p9qs1KrbO4+9MpyfVDxrsyU4E5aMgOYgetaKeynSbnUU3R6q9dJCIFIgyaW/ptYzElojt50W/UakZ13QJbYjLKOtTCzbCztSa7hhS2XZyXncVY4fwu21vJm2I70ko3mxfFkHjWvSiobunsgkT0opfBe4p0PBj43ALidTZuH6SGH8xri7aSQO5A+piuw/Zc/iWdbpj+a2GA9YK//GuRdIYjsSPpXbF5/Yk0dVxLgKW01Ci3Hhi3cW4WLGColSQYEkNAIkk9RFcqBV/ScJuXPCgCLviYEnb8Ic09uoA9TVFaZL3Fl9jrvYjVIviLcICkfmBKzKMshd4JQj51b9v8H0wVSCyEXOVMExuLbIieu2/zrF9kXX95VXAKsVyB6RkAfsxruON6MXNLeTFZFuOW1jjjisZncwpYR6VPk8Y8ibu2q9i3F5y4mk1Sd+54tSigUopjCWwNyO6sPtI+4FR0+02LA9iD9DNFxIJHYkfTtR0HY2tfQaKyyqWdWZiAy5i34YJiYMZnz2MCPWsmKeEGM+cgfUGP0P2pJRclSdAa16yEVrRKoWtWrgVmGK3UOLiTIBILmD3jtVTiF+22ItoAR71wAoG9BbmFA77EyZqLQaQ3XwUquxMnsOsD8zdlG56VoaiwQgi2xNm6VICC3cZGCm2XwEzKsMjJ5hvUsReXkDIFE1u6vSWrb3BeRwCcrcMwusHEgQ0iAepaD16mp9DxHTq4IyS2Fx8MrIbdZzdCTckBtiAJgdNzr5cWk2BiabStckIMiBOIkkiQu31FSWuH3GggAZMVEsASR73L1289tqbZuYu4QFgwdAPMhgQu3ecTHpU13iLFw6jEi4bg3mCwXIfAkT861uV4KR8atllOE8hQlfFNy2qiWAi57pmIgwdz2p3FuFNpJt30BuOAysrNCiYIOSiTt286jsLdvOwAxDKGMKxEW9wRJJJk9Z86g0+iLENcyt2z/wCKyMVJ6xl0JO/nRBvtmzS2lg030VsSbiFfECFS7EFQymY6SQwXy6GrP73pxjOG6FQB+VZBAbYwTJ+lZun4Oz+G2chydwCYADHqYE8vSe1Lc0Fq2OZmabmOSlcQMQQTEz17+RqpIZq9VbdbYORxBBIAGUj9RsPhTTxMnHkmO5O8riR84FXRpLayGCxadCSW94FRkIJ33g7UtnW27asCUL5ZAqDiZiIEdRSgU01dy5cVRCkTAjzjpvQnCrjbkqpLEEEx69BSX9Vb8U3EDE8sGY3/ADbGpU1V3JsbckAeRMR0P3oAjvaRLYGQPK0OQeoPQin2tLacZvcKCYg9uwodLpVzcJUlZxI94CorfDszFtwxiYO3Wk5NXdAaVjT2doC+Y3MzTW1lpFhYLAkbCo7PBwPebm67dPrU6cPtKWyjbcSd65G43ltmBwzjTK5Fu3kSNqlv8U1DOQtqJ29Jqva4hatuCoEz1HlWjqeMBrZ8K2TH5gPPzq0V6IpF4M501FyQ8DaKdo+DOwg3CAN4mKNFrbzQq25gnc7dastpr5XLIKZggU7fRpSu8DWTz0Vb/du7NRRb9Q8Sl+yzVYcRVT0uI6R3MZD+WoPaLS+Hq7qdrh+hNZHs1qvC1li5/DdSfgTB+xNdl+0jTYa0uOlxFb+hNWg8r5RPkWGZuj9pblpLSJbtTaJxcrkSGmQ0mOsHaOgrJd8mLHzJOwgbmdh5Vs+zty0qXWuOi3B4bWgwO5tt4hAIBiSqj51H7SXLb6hntvnkAWIYuM+hAZlUnYDyqupaJO3HZV4W+N5D6x9RA+5Fdze1Ny5YJe47FLu8sTtcXb6G0f8AdXnyNBBHkQfpvXeaDmt3V72w4+Ntlb+UvVOiL2c7+0Th9u2+mu2ra20u2BKooUZoeYwPPnX6Vx9dh7a8UW5a0+nNsh7WbC5IgpcJ5QOuxVfpXIVx8cZRVS6b/F4OvyUqaCpb+5nuAfnEH7g1GKlccintkv0OX/uP/wC6VWmY9ojFS2ujD0mPVSP6FqjFS6Yc4Hfl6T7wx/rQtg9EUVoWtIfDcnNW8MXFXYK9sMqkkTMQSRtBCmKooxBBGxBBHxG4rTsau7duyEtvccOGkLb8TxBiwchlBJnaIMnbtU+S6waR2+HBvCCso8VTjitx5dWhlIVZB+AI26wZq3a4KAQC9u6+aqUt3ExUFgJdjzd/dUxEk+VVRqLrWgiqAoYgY2zkTc6jOCd4UY5b8ux3qGzoLjMVwKld2LDAKO7FulJnt0Ba4lphYvrjMAW7gByBHmVOQDbEEbgHvU1/Vopc2yqlldJQY+7clCMRtKGJHbeqeo0DJbS5sUuTBCuu4AJHOonYjcSOu+1XF0dthafm38LxAIAhibTFfXJJP+ajFK3fRXjbppC3uKq3hwh5QQyxAhrfhkA5GZ6xAA9abruK6l7aaW4RjbxAUooaQIWWIy8+9Pti0LbuEVbiMxCkg4lYw99pYGG2Cnc+UVaHFNKPG8TTi69wk27ghcAyjygiQZ/LPrWRq6SGnbVtmf4eotqyBSoQh2IAkeayw377TTrmgvMSbjgbZlmaRtA/LO+4EetR6HX4Bw4NwMOhIIyggE5Anz8oNSanily5AIklSh95spjoOgOw6VcgLb4Z5FgSysUgTOKhgfSQas6bh1vMBg0FAQSdmYwTjHbfb0qOxp9SotksbahjbBJClciJ670r6DFyzt4iI5GJYkkSAzSNtiRSgR6+xa5MCqbkHzO35jB71N/agOPvdIOOxiN/uKjt8OUl1M8lwTttgTA3+lBsC1fkQFWCVYyYbaPWgBL/ABJnIK2yQJG+8iIjaoE0zgAhgockEdI9DWlb4iikwYUQ0Bdp3BHpVHXa1XyGJ5oIPTfvRVgFjQXieQyOkg7Va/srI5O5O0belZ9l7pTFMgo322q7p7WomJiN9/Wuadp3aQEw4faRcmgnp1qxpuLWrVtkUSftVXS8L/EHiOGA3gnY1o2+G2QDcuJjudp2iiNN222NBPZS13GAT+GDuATApn75dILIhgbmf1rSTV2ARliFXy896z9XxW3JCk4kEQBtFUWehn9yqLtxuaRvvRWeNYRsOg6UtNUg8kYKmDIr1T28i7pdHqR+a2AT8QD/AM15TXqenPj+z6HzsuR8ArED7EUyePlCTVnJ8L0ni3UtzjkYLdYABJP0BrQ4pwcWrNq4CSzT4m6wp3hQo5h7rCT1xNZek1L2nFy2xR16MOokR/WtO/8Avl207v4jWlfxGJgKGeDl33yHT+KrysgqrRliu19mXDeFP5gbZ/1A2j9JmuLFdF7PXT4e3VGkfYj7zVI5tEp4pmZ7X2f7t4/iU/Yj9Grm6732404KXSBsLguL/lcyP/S9cHUuTdluL+tegVKglGHYqenlup+5WoxUtgbkd1b16DIdPUCljsoyKKWiloAkvjnPYmR1GzbjY+hq9b1NpbahAy3FKszFQ2bKQQFaQba9NoMnz8qpXOinuveehKj4bAbVb4bofElshy9EBXxHPUBVYxj3O8djSclbYLRO2otTeUNcZLpyVVQDFsy++TbQBiSAZBPbdlzjV4wFcqg2FscyRJPMGnMyZk+e4iriWjcvWXe3IuoEuHe2quuaXDKlQpCpkVPlO1Qres2lAuWku3FIHKzKgC/xMjEXCdugAHmSSQIqtVbNK+p1d25bAZR4aleZbeIkLioLARspgDbaksaV3tllacSwKlo2AzGI/NMOY/wzV8cVt4XVK3C1xSN8GA5VCxjiqAFQdk32G0b0NFfdJwAOJVzPljK9J3B8SD8aaN06VGwq8ljT8KDGDcX3Fdo/KHxxkuVH5pO+0eZq5Y0Ni4bVu5d8FAtwNc5CC6PBHl1kEGTtG1Zmm8YkPbDcoCBgNuwUnp5jr6VOvDmNty5/EDoFXMbm5+baQZIAmQOu+1Du8sthxwi1ZvL44soyXLSF1tXCkySpxYgjfePLyp1/iNtVi2fcuBlAEL7+RcHy2LLHaKg1vDG0wi+hFx1m0yuGCxsSSpiZirNvhtsO6lCBAxZn2YD3rqHYHqu2/nVVo52Zf7zK3BgWBbNTJlD0k9+oqb95vPmoX+85iAvltJBPQGKvnW21PIVthlKEqswCqsrHzMNkDUV3ilvw1t4s0DFjMGNuhJJ6gH51ppU13ioFzuEh1BgN5diBVocLt5SWZgy8oG5BgGJPXas86zZQEWUJgnflP5SOh60w6q5tzERERtEdKUDauaS3bGKExcUg5Ee9Eg+lULGvAJF1QwUQBA3I9az3cnckn4maSiUU1QGynGl/8vERGI6U29xognACCIJPesim1L+CHoZRPc1Tt1Y7dtqbc1Dt7zE/OoqKqklo0SilpKACiiigDHr039mtzxdDrdMdzGYHxWP1UV5lXdfsl1WOua2ely0w+awR/WsXaHZiFYkfEVv8V4tZuZG2lwF7K2jljAKuG2jyxUD6Vnca0/h6m7b/AIXYfet32e4Mj27V57eYa66EEnGMGCcoIJIdegO+Qq7acU2cyTtpHMCtj2ffnZe6g/7T/wB1R4jphbvXLY6K5HWfPp/T5VLwl4vJ6yPqNvvFPB6ZOSw0dVxuznYH+OyV/wBSZWx/KleZCvVzvYHdLhHyuKCPvbb615hrrOF24n8LsB8JMfaKXkQ3E8sgFSWmhgexB+hqOKWKnouPdIJHYkfQ0gqW/u09wD1ncgT95qMUPYLKJetv4N/MP/p+lMVSSABJJAAiSSegA7+lPtDZh6SP9JB/TKnabUvbcPbYqwkSI8xB60O6wCLGo0KrbBOSutwW7gJDAZLkpUKNohgQSegqyvC1a46+IEACuHwbwvDdclYsWLLsdgQT94htXLjpdxW1jgC6wqe7P4iICOYBjuBEE7VFq9TcfEXNoACrgtsQAIgKADAiPj61CpPFgaui0VjNALlq4sEuzMQxPLyrbZkwiG5mJ8z/AAg59q4LV98X5R4qK6mdiGVGBHriZFUopKZQau3ZsW07NK9xHmDICCLouiemRRQ+3qw+hpup4izsSBjkqj3ixGDZKQdog9ulUKdTKEUO5yfZJfvvcOVx3c93ZnP1Y1GST1PTp6UtFMIFFFFABSUtFABRRRQAUlLRQAlNp1FADaKdTaAEooooAx62vZDWeFr9PcmALig/BuU/rWLT7TlSGHUEEfEb1OLpjs9E/aDpcNax8nAb/msLSaZ7mQQTipdt45ViT8prr/b4C7Z0upHR7Yn5gH+tc1wjiZsFz4a3BcQoQ0xB69D8avC/GvQ5515CcV4Y+ncI5BkSGWcTvBjIA7ER0qtafFg3Yg/QzVriPEmveGGAAtpiOZmPWSSXJO/2qmKeN1kSVXg77Rmbd1f8AcfFGG/+1nrgPaezjqWP8aq32xP8tdx7Ovl4Un31Ns/F1Nufqa5z240ZRrbEqTDKcWDDyIEjaferZi8eGvwcoBS0CnVE6iR90U9sl+hy+XvH6UypE3Rh2Iby6bqfXzWmVrMRJpkDOFZwgJ3cgkKO5A3PwrTuWVtrda2VK+GqKQ6uSXcSTHQlVfaOh9DWdp9MXPYFXbIgxFtWJ3+Kx8a0bXDBjaLOAbj4sDLBS6o1qQsEEhyevl8RUJtJ5fwaTXb9lShVgVY3gyoOZbV5RAOwGSksIn8o71Ru69vD8FSfDncsSS0ElTBJFsDblX5lqm03DlKF2yYKSrKpCkXPFtoqyQdirzPdT2qvr7NtHC23LCOaYMNvKhhswG28DeayCjdbMKgpaKdVjQpam02ke4HKxyLkZMbAE7d+h+1WdNoOq3AQzW2a3DL1VC4DruRIiBt1rQKFFX7KW7aWrjg3M8j4cQoCkru0zMwYjpVmwukCLcuK4JY/ho4aRPVpAxHz39KWUvFaMsy0sswJVSQCBtvu3QVbu8JuKSCNw4SeiyRI3NWzrraEPbIM3VbELhCqkREnud6bquK22zAtuc1tgMzQQbY2cgdT086i5zbwsBZB/ZFzAvK8q5MpMED51nVb1mvuXPeOxiQNgSogEjvVWqQUq+o0SilopwEooooAKSlpKACm06m0AFFFFAGNRRRUSh6rZPj8Att1NlsfkrR+hFc1wd1W/aLqHXMSpxgg7fn5fOd9tq3v2a3PF0Ot0x3gBx8x/wAqPrXL4wY7V0Q2/wAnPyYpnVcYuWRp3tLcUstzJV5ZydsiRgMYAZlMGOUbVzAraucDVAJdyblrxLTC3ijMFzKSTvy+Y86xhTxSWhZNvZ0fs9ePh7dUeR9mH3mn+3GmBt3SOi3A6/5XO32eqPs+/O69wD/tP/ddJxzK5pgm0PaI90TkmSCWiTsq+faneURTqX7PLBSikFKKgdZLpxJI7qR0ncDIfcCi0+LBoDQQYYSpjeCPMUlpoYHsQe/QzSukMR2JHbpWvKM7NC9xMPmxTF2tlNmZkgssgKxOChQ4ABIgjtNOua64ALZS2Gtukys3CyKyJkpJDQNvd6hak0FvTgIWdGJIL5hhhIICqhXG4ASrFi24kBdiasavU2ybyveUC4lpotg3ALqBA2JXljlYTI94RNc1pOksGmVqbtxpZyfxCctggYod5VQBsT261Y0emUXLavg3igDHnyTxByN5CdwfP71Hr9aLgt8sMqnPpzOxlmHaYBI7z3qJ9UxVVMcsQ0c8LOIy7Cf07VRJuNaNi0nbLug0Ctb8R1blYZAN7yh1VxGIxgMNy3/NWXS0niI2A5Q/QA+6YtwcmG6gwrg8+52isi5qHYks7GTJkmCYiSOnTaohR4NvLKKaSpI1ONcQtXcRa062Qs9CpLTHXFB0jzLdetQtxA5I4VRcTGX3OWKhVkHboIPeqVLVEq0TJLt5m6xAJIUABRl1gDoNhtUdFLQYJRS0UGiUUtJQAUVK2ncAHEwem1RVgCUUtJWgFFFFYAlFFNoAKKKKAMaiiiolDuv2S6rHXG2ely2y/NeYfoag4xp8NRdT+F2/Wiir8e19iPLpk+n4rfUW1tFbZSQpRVDEsIJYnqY2mqV2ZOXvSZ+M70UVX/ol0W+EvF5fWR9R/wAxXZdbI/wXCPkygj+Q0lFOtEZb+DzHXWsLtxP4XYD4AmPtFQiiioM6o6QoqS4ciSB5CfoAT9aKKHoY09NwrmcFhsgx94E3Xsm6gEA+QMkkDb1ikXQK/h4tPiW28PlCfiIWBVhLbHE809unSiiuPzlfwBJxCxYRWGBV83W3i7NIVypZwwgDljYzJmsqiiuji0AClooqgBS0UVgBS0UUAFXtLwq5ciABkCQSR5fD40UUPoC0nCgjIrtJuKRsBs0SBv8ArVnR6e0BbLW4JDbzlLdBt8jRRWAUf7Qa3daJKrkFWdh6fCs685ZiTEkyY2FFFYkvIBlJRRTGhRRRWAJTaKKAEmiiigD/2Q==);
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: 2000px;
    background-color: rgba(255, 255, 255, 0.185);
    }

.menu-content {
    background-color: var(--cor7);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

.menu-content > img {
    height: 80px;
    width: auto;
}

.menu-content > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu-content ul a {
    text-decoration: none;
    padding: 15px;
    color: white;
    font-size: 1.1rem;
    transition: text-shadow 0.5s, transform 0.5s;
}

.menu-content ul a:hover {
    transform: scale(1.9);
    text-shadow: 1px 1px 10px var(--cor1);
    font-weight: bold;
}

/* Estilos específicos para dispositivos móveis e tablets */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    .menu-content {
        flex-direction: column;
    }

    .menu-content > img {
        height: 50px;
        margin-bottom: 10px;
    }

    .menu-content ul {
        flex-direction: column;
    }

    .menu-content ul a {
        padding: 10px;
        font-size: 1rem;
    }
}



/* 
   Para tornar o site responsivo, considere as seguintes práticas e técnicas:

   1. Layout Flexível (Flexbox ou Grid):
      - Use Flexbox ou Grid para criar um layout flexível que se adapte a diferentes dispositivos.

   2. Consultas de Mídia (Media Queries):
      - Utilize @media queries para aplicar estilos específicos com base no tamanho da tela.

   3. Imagens Responsivas:
      - Utilize "max-width: 100%" para garantir que as imagens não ultrapassem a largura do contêiner pai.

   4. Unidades Flexíveis:
      - Use unidades flexíveis como porcentagem (%) e em para dimensionar elementos de forma relativa.

   5. Fontes Responsivas:
      - Considere o uso de tamanhos de fonte relativos, como em e rem, para fontes escaláveis.

   6. Testes em Diferentes Dispositivos:
      - Teste o site em vários dispositivos para garantir a funcionalidade e a aparência adequada.

   7. Adaptação de Conteúdo:
      - Adapte a apresentação do conteúdo para dispositivos menores, reorganizando ou ocultando elementos, se necessário.

   8. Performance Otimizada:
      - Otimize o desempenho do site, considerando a eficiência no carregamento de recursos.

   Lembre-se de aplicar essas práticas para criar um site com uma ótima experiência do usuário em diversos dispositivos.
*/

/* Main */ 

.ladodireito {
    position: relative;
}

.fotoeu {
    width: 200px;
    position: absolute;
    right: 62px;
    top: 42px;
    z-index: 2;
    transition: 2s;
}

.paixao
{
    opacity: 100;
    font-family: 'roboto';
    font-weight: bolder;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    color: white;
    z-index: 3;
    display: block;
    width: 1034px;
    height: 326px;
    top: 171px;
    right: 200px;
    opacity: 0;
    transition-duration: 2s;
}

.retangulo{
    /*width: 1280px;
    height: 331px;*/
    width: 100px;
    height: 100px;
    right: 0px;
    background-color: black;
    position: absolute;
    top: 100px;
    z-index: 1;
    opacity: 0;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.fotoeu:hover ~ .retangulo {
    width: 1280px;
    height: 331px;
    opacity: 100;    
}

.fotoeu:hover 
{
    filter: drop-shadow(0px 0px 10px #ffffff);
}

.fotoeu:hover ~ .paixao {
    display: block;
    width: 1034px;
    height: 326px;
    top: 171px;
    right: 200px;
    opacity: 100;
    font-size: 2.7rem;
}

.name {
    font-weight: bolder;
    position: absolute;
    color: rgb(255, 0, 0);
    z-index: 4;
    top: 365px;
    right: 29px;
    background-color: black;
    border-radius: 15px;
    color: white;
    padding: 8px;
    transition: 2s;
}

.fotoeu:hover ~ .name 
{
    opacity: 0;
}

/* ... (seu código existente) ... */

/* Estilos para tornar a página responsiva */
@media (max-width: 1100px) {
    .fotoeu {
        width: 100%; /* Ajuste a largura conforme necessário */
        max-width: none; /* Resetando a largura máxima */
        position: static; /* Voltando à posição estática para seguir o fluxo do documento */
        top: auto; /* Resetando a posição top */
        right: auto; /* Resetando a posição right */
        transition: none; /* Resetando a transição */
    }

    .paixao,
    .retangulo,
    .name {
        position: static; /* Resetando a posição */
        width: auto; /* Permitindo que a largura seja definida automaticamente */
        height: auto; /* Permitindo que a altura seja definida automaticamente */
        opacity: 100; /* Garantindo que a opacidade seja 100% */
        transition-duration: none; /* Resetando a duração da transição */
    }
}
