@charset "UTF-8";

/* Importando a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Definindo as variáveis de cor */
:root {
    --cor1: #0E0359;
    --cor2:  #371075;
    --cor3: #551A7D;
    --cor4: #7B2D8C;
    --cor5: #99469B;
    --cor6: white;
    --cor7: black;
}

/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:var(--cor6);
    font-family: 'Roboto', sans-serif;
}

.menu-content {
    background-color: var(--cor7);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

.menu-content > img {
    height: 80px;
    width: auto;
}

.menu-content > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu-content ul a {
    text-decoration: none;
    padding: 15px;
    color: white;
    font-size: 1.1rem;
    transition: text-shadow 0.5s, transform 0.5s;
}

.menu-content ul a:hover {
    transform: scale(1.9);
    text-shadow: 1px 1px 10px var(--cor1);
    font-weight: bold;
}

/* Estilos específicos para dispositivos móveis e tablets */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    .menu-content {
        flex-direction: column;
    }

    .menu-content > img {
        height: 50px;
        margin-bottom: 10px;
    }

    .menu-content ul {
        flex-direction: column;
    }

    .menu-content ul a {
        padding: 10px;
        font-size: 1rem;
    }
}



/* 
   Para tornar o site responsivo, considere as seguintes práticas e técnicas:

   1. Layout Flexível (Flexbox ou Grid):
      - Use Flexbox ou Grid para criar um layout flexível que se adapte a diferentes dispositivos.

   2. Consultas de Mídia (Media Queries):
      - Utilize @media queries para aplicar estilos específicos com base no tamanho da tela.

   3. Imagens Responsivas:
      - Utilize "max-width: 100%" para garantir que as imagens não ultrapassem a largura do contêiner pai.

   4. Unidades Flexíveis:
      - Use unidades flexíveis como porcentagem (%) e em para dimensionar elementos de forma relativa.

   5. Fontes Responsivas:
      - Considere o uso de tamanhos de fonte relativos, como em e rem, para fontes escaláveis.

   6. Testes em Diferentes Dispositivos:
      - Teste o site em vários dispositivos para garantir a funcionalidade e a aparência adequada.

   7. Adaptação de Conteúdo:
      - Adapte a apresentação do conteúdo para dispositivos menores, reorganizando ou ocultando elementos, se necessário.

   8. Performance Otimizada:
      - Otimize o desempenho do site, considerando a eficiência no carregamento de recursos.

   Lembre-se de aplicar essas práticas para criar um site com uma ótima experiência do usuário em diversos dispositivos.
*/

/* Main */ 

.ladodireito {
    position: relative;
}

.fotoeu {
    width: 200px;
    position: absolute;
    right: 0px;
    top: 46px;
    z-index: 2;
    transition: 2s;
}

.paixao
{
    opacity: 100;
    font-family: 'roboto';
    font-weight: bolder;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    color: white;
    z-index: 3;
    display: block;
    width: 1034px;
    height: 326px;
    top: 171px;
    right: 200px;
    opacity: 0;
    transition-duration: 2s;
}

.retangulo{
    /*width: 1280px;
    height: 331px;*/
    width: 100px;
    height: 100px;
    right: 0px;
    background-color: black;
    position: absolute;
    top: 100px;
    z-index: 1;
    opacity: 0;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.fotoeu:hover ~ .retangulo {
    width: 1280px;
    height: 331px;
    opacity: 100;    
}

.fotoeu:hover 
{
    filter: drop-shadow(0px 0px 10px #ffffff);
}

.fotoeu:hover ~ .paixao {
    display: block;
    width: 1034px;
    height: 326px;
    top: 171px;
    right: 200px;
    opacity: 100;
    font-size: 2.7rem;
}